<div class="navigation_bar">
        <img src="assets/logo/logo.png"  alt="logo" width="50" height="50">
        <ul><li><a href="#">CourSavvy</a></li></ul>

</div>
<div class="logo">
    <img  src="../../assets/logo/logo2.png" alt="logo_image" width="132" height="132">
</div>

<h3>Dive into the world of courses with our <br> user-friendly search engine</h3>
<h1> Find my course</h1>
<div class="search">
    <div class="first-element">
        <button type="submit" class="search-icon" mat-icon-button disabled>
            <mat-icon>search</mat-icon>
        </button>
        <form [formGroup]="searchForm" class="searchBar" (ngSubmit)="onSearchSubmit()">
            <input class="search-control" type="text" placeholder="Search by course" formControlName="searchValue">
        </form>
    </div>
    
    <div class="second-element" *ngIf="searchResult.length > 0">
        <div class="display" *ngFor="let data of searchResult">
            <h3 class="title">{{data.course_title}}</h3>
            <div class="small-container">
                <p class="school">{{data.location}}</p>
                <a class="info-course" href="" [routerLink]="['/details', data.course_code]">Course Info</a>
            </div>
        </div>
    </div>
    <div *ngIf="searchResult.length === 0 && searchForm.value.searchValue !== ''">
        <p>No results found</p>
    </div>
    
</div>
<a class ="school-search" href="/">I’d like to search by school</a>
<div class="button-container">
    <div class="icon-pack">
        <div class="icon-border">
            <button class="icon" mat-icon-button disabled>
                <mat-icon>book</mat-icon>
            </button>
        </div>
        <h2>Course Description</h2>
    </div>
    <div class="icon-pack">
        <div class="icon-border">
            <button class="icon" mat-icon-button disabled>
                <mat-icon>list</mat-icon>
            </button>
        </div>
        <h2>Required Textbooks</h2>
    </div>
    <div class="icon-pack">
        <div class="icon-border">
            <button class="icon" mat-icon-button disabled>
                <mat-icon>person</mat-icon>
            </button>
        </div>
        <h2>Connect with Alumni</h2>
    </div>
    <div class="icon-pack">
        <div class="icon-border">
            <button class="icon" mat-icon-button disabled>
                <mat-icon>rate_review</mat-icon>
            </button>
        </div>
        <h2>Course Reviews</h2>
    </div>
</div>

